<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <form #f="ngForm" (ngSubmit)="OnLogin()">
      <div class="form-group">
        <input type="text"id="login" required class="form-control" class="fadeIn second" name="login" placeholder="login" ngModel required >
      </div>
      <div class="form-group">
        <input type="password" id="password" required class="form-control" class="fadeIn third" name="password"  placeholder="password" ngModel required >
      </div>
      <input type="submit"  [disabled]="!f.valid" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>
