<app-navbar></app-navbar>
<div class="container">
    <div class="col-md-3">
        <form #f="ngForm" (ngSubmit)="OnSaveCustomer(f.value)">
        <div class="form-group">
            <label class="control-label">Nom :
            <input type="text" name="name" required class="form-control" [(ngModel)]="customer!.name">
            </label>
        </div>

        <div class="form-group">
            <label class="control-label">Prénom : 
            <input type="text" name="firstName" required class="form-control" [(ngModel)]="customer!.firstName">
            </label>
        </div>

        <div class="form-group">
            <label class="control-label">Addresse :
            <input type="text" name="address" required class="form-control" [(ngModel)]="customer!.address">
            </label>
        

            <div class="form-group">
            <label class="control-label">Tel :
            <input type="text" name="phone" required class="form-control" [(ngModel)]="customer!.phone">
            </label>
            </div>

            <div class="form-group">
            <label class="control-label">Email :
            <input type="text" name="email" required class="form-control" [(ngModel)]="customer!.email">
            </label>
            </div>
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Suivant</button>
        </div>
        </form>
    </div>
</div>
